.Navbar{
    height:70px;
    display: flex;
    /* justify-items: space-around; */
    align-items: center;
    justify-content: space-around;
    background-color: black;
    
}
.Navbar_logo{
    color:white;
}

.Navbar_links{
    display:flex;
    justify-items: space-around;
    
   
    
}

.Navbar_link{
    text-decoration: none;
    color:white;
    margin-left:2.5em;
    font-weight:500;
}

.logo{
    max-height:70px;
}